:root {
  --umber: #634F44;
  --dark-green: #424221;
  --green: #657046;
  --raisin: #2D232C;
  --khaki: #DEA28C;
}

body {
  box-sizing: border-box;
  padding: 1em;
  background: var(--raisin);
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  border: 2px solid gray
}

.thinkings-wrap {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.tabs {
  border: 2px solid gray;
  font-size: 20px;
  height: 2em;
  text-align: center;
  width: 20em;
}

.unlocked:hover {
  border-color: white;
  background-color: lightgray;
}

.tabs.active {
  background-color: var(--green);
}

.tab-content.active {
  background-color: var(--green);
  height: 80vh;
}


button {
  border: 1px solid black;
  background: lightgray;
  border-radius: 5px;
  width: 100%;
  height: 3em;
}

.indicator {
  border: 1px solid black;
  background: lightgray;
  height: 48px;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.hidden {
  display: none;
}


.flex-wrap {
  display: flex;
}

#reports {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#report-small {
  align-self: end;
}

#stats {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding: 1em;
}

#stats-other {
  width: 50%;
}

#jobless {
  display: flex;
}

header {
  display: flex;
}

/* ------------------ THINKINGS ------------------ */
.thinking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: #7a845f;
  height: 4em;
  width: 50%;
  border: 2px solid var(--raisin);
  border-radius: 10px;
  cursor: pointer;
}

.thinking-cost {
  border: 2px solid gray;
  border-radius: 10px;
  text-align: center;
  margin: 2px;
}

.thinking-effect {
  display: none;
}

.thinking:hover .thinking-effect {
  display: block;
}

.thinking:hover .thinking-name {
  display: none;
}

.thinking-cost:hover {
  cursor: pointer;
  background-color: #7a845f;
  border: 2px solid var(--dark-green)
}

.thinking.disabled {
  background-color: gray;
  color: #5b5b5b;
  border: 2px solid gray;
  cursor: not-allowed;
}

.cost {
  font-size: 1.5em;
  margin-left: 0.5em;
}

/* ------------------ ICONS ------------------ */

.found {
  font-size: 20px;
  position: relative;
  top: -2em;
}

.icon {
  font-size: 4em;
  height: 100px;
  width: 100px;
  text-align: center;
}

.icon-sm {
  font-size: 2em;
  height: 50px;
  width: 50px;
  text-align: center;
}

.hat-icon {
  position: relative;
  font-size: 0.5em;
  top: -3.2em;
  left: -0.4em; 
}

.add-squirrel-icon {
  font-size: 4em;
  margin-left: 1em;
  height: 100px;
  width: 100px;
  text-align: center;
}

.add-squirrel:hover {
  cursor: pointer;
  background-color: #7a845f;
  border-radius: 10%;
  border: 2px solid var(--dark-green)
}

.overlay-icon {
  font-size: 0.5em;
  position: relative;
  top: -1.7em;
  left: 0.5em;
}

.remove-icon {
  font-size: 0.5em;
  position: relative;
  top: -2.9em;
  left: 0.7em;
  cursor: pointer;
}

.job-icon {
  font-size: 0.5em;
  position: relative;
  top: -50px;
  left: 0;
  height: 50px;
  width: 50px;
}

/* ------------------ JOBS AND JOBSITES ------------------ */

.jobs {
  display: flex;
  flex-direction: column;
}

.jobsite {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5em;
}


.jobsite-buy {
  background-color: azure;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  width: 60%;
}

.jobsite-btn {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.jobsite-jobs {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.jobsite-remove {
  width: 10%;
  font-size: 4em;
  display: flex;
  align-items: center;
}

.jobsite-name {
  width: 60%;
  font-size: 300%;
}

#job-available {
  display: flex;
}

@keyframes found-nut {
  from {
    opacity: 1;
    top: -2em;
  }
  to {
    opacity: 0;
    top: -4em;
  }
}


.found-animation {
  animation: found-nut;
  animation-duration: 600ms;
}

.mirror {
  transform: scaleX(-1);
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 200ms, opacity 200ms linear;
}

.locked {
  background-color: var(--dark-green);
}

#clock {
  margin-top: 60%;
  text-align: right;
}