body {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.tabs {
  border: 2px solid gray;
  font-size: 20px;
  height: 40px;
  text-align: center;
  width: 20em;
}

.tabs:hover {
  border-color: white;
  background-color: lightgray;
}

.tabs.active {
  background-color: gray;
}

.tab-content.active {
  background-color: lightblue;
}

.hidden {
  display: none;
}

button {
  border: 1px solid black;
  background: lightgray;
  height: 50px;

}

button.up-value {
  width: 40%;
  text-align: left;
}

span#cost,
span#current {
  
  align-self: right;
}

#get-nuts {
  width: 80%;
}
